



@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid {
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px) {
    .search-box input
    {
        position: absolute;
        top: 7px;
        right: -88px;
        width: 177px;
        border-radius: 33px;
        border: none;
        height: 40px;
        padding-left: 20px;
        padding-right: 40px;
        letter-spacing: 0;
        background: #f3eeff;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid {
        grid-template-columns: 100%;
    }

    .sidebar {
        left: -100% !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block;
        text-align: center;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }
    .main-content {
        width: 100%;
        margin-left: 0rem;
    }
    header {
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked+.sidebar:hover {
        width: 345px;
        z-index: 200;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar:hover li {
        padding-left: 2rem;
        text-align: left;
    }
    #nav-goggle:checked+.sidebar li a {
        padding-left: 1rem;
    }
    #nav-goggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-goggle:checked+.sidebar li a span:last-child {
        display: inline;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
}
@media (max-width: 420px) {
    .sidebar.close .nav-links li .sub-menu{
        display: none;
    }
}
