/*---------------Page mapping -------------------*/
/*-------------------- Start Staff Location --------------*/

#nav-toggle:checked~.main-content-mapping {
    margin-left: 70px;
}

#nav-toggle:checked~.main-content-mapping header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content-mapping {
    transition: margin-left 300ms;
    margin-left: 260px;
}
.main-content-mapping .nav-mapping{
    width: 110%;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0889833);
    z-index: 100;
    transition: width 300ms;
    padding: 0.5rem;
}

.main-content-mapping .nav-mapping .search-box input
{
    position: absolute;
    top: 1px;
    left: -40px;
    width: 210px;
    border: none;
    height: 40px;
    padding-left: 30px;
    letter-spacing: 0;
    background: #F9F9F9;
    border-radius: 7px;
}
.main-content-mapping .nav-mapping .notification-area
{
    position: absolute;
    top: 8px;
    left: 90%;
}
.main-content-mapping .nav-mapping .user-wrapper span.notification-area::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: 0;
    top: 3px;
}
.main-content-mapping .nav-mapping .search-box form i
{
    position: absolute;
    right: 18px;
    top: 14px;
}
.main-content-mapping main.body-map{
    margin-top: 0;
    padding: 0;
    min-height: calc(100vh - 90px);

}
.main-content-mapping main.body-map #map {
    margin: -3% 0 0 0;
    padding: 0;
    min-height: calc(60vh - 90px);
}
.main-content-mapping table
{
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.087);
    border-radius: 15px;
}
.main-content-mapping table th{

    font-size: 13px;
    color: #868B8F;
}
.main-content-mapping table th.active{
    background: #69A200;
    color: #fff;
}
.main-content-mapping table td{font-size: 12px;}

.main-content-mapping .mapping-img img.left-img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: -33px;
    padding: 3px;
}

.main-content-mapping .mapping-img .user-name {
    font-size: 15px;
    font-weight: 500;
    color: #474D53;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content-mapping .mapping-img .user-id {
    font-size: 10px;
}
.main-content-mapping .mapping-img .btn-outline-light
{
    padding: 4px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    border: none;
    color: #69A200;
    background: #EAF2E1;
}
.main-content-mapping .mapping-img img.img1{border: 2px solid #81B214; background: transparent;}
.main-content-mapping .mapping-img img.img2{border: 2px solid #B9B9B9; background: transparent;}
.main-content-mapping .mapping-img img.img3{border: 2px solid #CC9F00; background: transparent;}
.main-content-mapping .mapping-img .details{color: #B9B9B9;background: #fff; border: solid}
.main-content-mapping .mapping-img .to-do{color: #A5A5A5;background: #ECECEC;}
.main-content-mapping .mapping-img .on-way{color: #CC9F00;background: #FFF3BE;}
.main-content-mapping .mapping-img .right-img {
    position: absolute;
    top: 1%;
    left: 210px;
}
.main-content-mapping .mapping-img .right-img svg{
    position: absolute;
    top: 68%;
    left: 10px;
}
#nav-toggle:checked~.main-content-mapping .mapping-img .right-img {
    position: absolute;
    top: 30%;
    left: 247px;
}
#nav-toggle:checked~.main-content-mapping .mapping-img .right-img svg {
    position: absolute;
    top: 48%;
    left: 9px;
}
#nav-toggle:checked~.main-content-mapping .mapping-img .right-img small{
    position: absolute;
    top: -60%;
    left: 0;
}
.main-content-mapping .mapping-img .shap
{
    position: relative;
    top: -85px;
    right: 13px;

}
.main-content-mapping .mapping-img .fa-map-marker-alt{
    position: absolute;
    top: 16px;
    left: 26px;
    padding: 10px;
    color: #69A200;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 50%;
}
.main-content-mapping .mapping-img .km{
    position: relative;
    left: 4px;
    top: 16px;
    color: #69A200;
    font-size: 12px;
}
.main-content-mapping .mapping-img .location-name {
    font-size: 12px;
    font-weight: 500;
    color: #474D53;
    letter-spacing: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content-mapping .mapping-img .location-id {
    font-size: 8px;
}
.main-content-mapping .mapping-img .group
{
    border-radius: 5px;
    border: 2px solid #69A200;
}
/*--------------- End Staff Location ------------------------*/
